* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: white;
  background-color: #333333;
  text-align: center;
  padding: 5vh;
}

button {
  color: white;
  background-color: #f19733;
  font-weight: bolder;
  padding: 2vh 5vh;
  width: fit-content;
  margin: 0 auto;
}
button:hover {
  background-color: #b56d1b;
}
button:active {
  background-color: #f19733;
}
.quoteContent {
  margin: 2vh 0;
  text-align: center;
}
